<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="Bardock.Utils">
      <section name="Logger" type="Bardock.Utils.Logger.ConfigSection, Bardock.Utils.Logger" allowLocation="true" allowDefinition="Everywhere"/>
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <Bardock.Utils>
    <Logger LogFactory="Bardock.Utils.Logger.Log4net.LogFactory, Bardock.Utils.Logger.Log4net"/>
  </Bardock.Utils>
  <log4net>
    <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\Logs\Bardock.Utils.Logger.Demo.Errors.log"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyy-MM-dd"/>
      <maximumFileSize value="1MB"/>
      <appendToFile value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="-------------------------------------------------------%newline%date [%thread] %-5level %logger [%ndc] - %message%newline"/>
      </layout>
      <filter type="log4net.Filter.LevelMatchFilter">
        <levelToMatch value="ERROR"/>
      </filter>
      <filter type="log4net.Filter.DenyAllFilter"/>
      <threshold value="ERROR"/>
    </appender>
    <appender name="FileAppenderWarn" type="log4net.Appender.RollingFileAppender">
      <file value="C:\Logs\Bardock.Utils.Logger.Demo.Warn.log"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyy-MM-dd"/>
      <maximumFileSize value="1MB"/>
      <appendToFile value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="-------------------------------------------------------%newline%date [%thread] %-5level %logger [%ndc] - %message%newline"/>
      </layout>
      <filter type="log4net.Filter.LevelMatchFilter">
        <levelToMatch value="WARN"/>
      </filter>
      <filter type="log4net.Filter.DenyAllFilter"/>
      <threshold value="WARN"/>
    </appender>
    <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5level - %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="ALL"/>
      <appender-ref ref="FileAppender"/>
      <appender-ref ref="FileAppenderWarn"/>
      <appender-ref ref="TraceAppender"/>
    </root>
  </log4net>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>